<footer class="footer">
  <small>
    <a href="http://www.collectingcandy.com/wordpress/wp-content/uploads/2012/03/CC_Beetlejuice-Zagnut-closeup.jpg">Zagnut!</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
